node_modules
dist
out
build
*.tsbuildinfo

python/venv
python/__pycache__
python/**/__pycache__
python/**/*.pyc
*.pyc

.env
.env.*
*.local

.DS_Store
Thumbs.db

*.log
logs

.idea
.vscode
*.swp
*.swo
*~
